<div class="login-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="login()">
    <div class="field">
      <label>Nom d'utilisateur</label>
      <input
        type="text"
        [(ngModel)]="username"
        name="username">
    </div>
    <div class="field">
      <label>Mot de passe</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password">
    </div>
    <button type="submit">
      Se connecter
    </button>
    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>
  <br>
  <div>
    <p>Pas de compte ?</p>
    <button type="button" (click)="goToRegister()">
    Créer un compte
    </button>
  </div>
</div>