<div class="filtres-container">

    <div class="filtre-item">
        <h3>PC</h3>

        <label>
            <input type="checkbox">
            Portable
        </label>

        <label>
            <input type="checkbox">
            Fixe
        </label>
    </div>
    <div class="filtre-item">
        <h3>Processeur</h3>

        <label>
            <input type="checkbox">
            INTEL
        </label>

        <label>
            <input type="checkbox">
            AMD
        </label>
    </div>

    <!-- MEMOIRE = RAM + ROM -->
    <div class="filtre-item">
        <h3>Mémoire</h3>

        <!-- RAM -->
        <label>RAM</label>
        <input
            type="range"
            min="0"
            max="32"
            step="1"
            [(ngModel)]="ramMin">
        <span>{{ ramMin }} Go</span>

        <!-- ROM -->
        <label style="margin-top:10px;">Stockage</label>
        <input
            type="range"
            min="0"
            max="3840"
            step="10"
            [(ngModel)]="romMin">
        <span>{{ romMin }} Go</span>

    </div>

    <div class="filtre-item">
        <h3>Carte graphique</h3>

        <label>
            <input type="checkbox">
            NVIDIA
        </label>

        <label>
            <input type="checkbox">
            INTEL
        </label>
    </div>

    <div class="filtre-item">
        <h3>Prix</h3>

        <input
            type="range"
            min="0"
            max="5000"
            [(ngModel)]="prixMax">

        <span>{{ prixMax }} €</span>
    </div>

</div>