<div class="container">

  <h2>Historique des recherches</h2>

  <button class="clear" (click)="clearHistorique()">
    Vider l'historique
  </button>

  <p *ngIf="historique.length === 0">
    Aucun historique.
  </p>

  <div class="list">

    <div class="item" *ngFor="let item of historique; let i = index">

      <div>
        <ng-container *ngIf="item.nomPc">
          <strong>Nom :</strong> {{ item.nomPc }}<br>
        </ng-container>
        <ng-container *ngIf="item.type">
          <strong>Type :</strong> {{ item.type }}<br>
        </ng-container>
        <ng-container *ngIf="item.prixMax !== -1">
          <strong>Prix max :</strong> {{ item.prixMax }} €<br>
        </ng-container>
        <ng-container *ngIf="item.ramMin !== -1">
          <strong>RAM min :</strong> {{ item.ramMin }} Go<br>
        </ng-container>
        <ng-container *ngIf="item.hddCapaMin !== -1">
          <strong>HDD min :</strong> {{ item.hddCapaMin }} Go<br>
        </ng-container>
        <ng-container *ngIf="item.marqueCPU">
          <strong>Marque CPU :</strong> {{ item.marqueCPU }}<br>
        </ng-container>
        <ng-container *ngIf="item.marqueGPU">
          <strong>Marque GPU :</strong> {{ item.marqueGPU }}<br>
        </ng-container>
        <span class="badge">{{ item.nbResultats }} PC trouvé(s)</span>
      </div>

      <div class="actions">
        <button (click)="relancerRecherche(item)">Relancer recherches</button>
        <button (click)="removeItem(i)">
          Supprimer
        </button>
      </div>

    </div>

  </div>

</div>