<header>


    <div class="header-left">
        <img width="10%" height=" 10%" src="/data/Image/Warwick_1.jpg" alt="Warwick"/>
        <h1>Vive Warwick</h1>
    </div>

    <div class="search-bar">
        <input type="search" [(ngModel)]="query" placeholder="Rechercher..." (keyup.enter)="onSearch()"/>
        <button (click)="onSearch()">🔍</button>
    </div>

    <div class="header-right">
        <a routerLink="/accueil">
            <img width="10%" height="10%" src="/data/Image/favoris.png" alt="Favoris"/>
        </a>
    </div>
</header>