header {
    background: #303744;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    padding: 0 24px;
    height: 100px;
    position: relative;
}
  
.header-left {
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo-icon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.logo-icon img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.title-block span {
    font-size: 10px;
    color: #979faa;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
  


.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    width: 280px;
}
.search-bar input {
    flex: 1;
    padding: 0 12px;
    height: 38px;
    border: none;
    outline: none;
    font-size: 13px;
    color: #0a1628;
}
.search-bar button {
    background: #2563eb;
    border: none;
    height: 38px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}



.filter {
    display: flex;
    align-items: center;
    gap: 6px;
}
.arrow-btn {
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 6px;
    height: 38px;
    width: 32px;
    cursor: pointer;
    color: #94a3b8;
    transition: transform .2s;
}
  
.arrow-btn.open {
    background: #2563eb;
    color: #fff;
}
  
.arrow-btn.open .material-icons {
    transform: rotate(180deg);
}



.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
}
  
.icon-btn {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    background: #1e293b;
    border: 1px solid #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #94a3b8;
}

.icon-btn:hover {
    border-color: #2563eb;
    color: #2563eb;
}

.icon-btn img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
  
.avatar {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.avatar img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

